body {
    text-align: center;
    font-family: serif;
    background-color:  #846D74}

ul {
    text-align: left;
}



.h1{
    text-align: center;
    border-style: thick;
    background-color: 808080;

}