<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body>
<h2>Welcome!</h2>

<p>
    <br/><br/>
    Sewing is a hobby of mine. As a way to organize an aspect of a sewing space, this app is a virtual way to store information and organize a collection of paper sewing patterns.<br/><br/>
    Users can add pattern information to the database.<br/>
    Users can edit information about each pattern. <br/>
    Users can search for each pattern using a keyword search.<br>
</p>
</body>
</html>