<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <link rel="stylesheet" href="/styles.css" />
    <meta charset="UTF-8"/>
    <title>Sewing Pattern Organization Tool</title>
</head>
<body>

<nav th:fragment="navigation" class="header">
    <h1>Sewing Pattern Storage</h1>
    <a href="/about">About</a>
    <a href="/new">Enter new pattern Information</a>
    <a href="/patterns">Patterns Currently in Collection</a>
    <a href="search">Search</a>
</nav>

</body>
</html>