<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<h2> Working title</h2>
<nav th:replace="fragments :: navigation"></nav>

<h1>Welcome!</h1>

This app is designed to help document and organize your sewing pattern collection.

<!--p th:unless="${patterns} and {pattern.size()}">Something went wrong. Unable to load patterns list</p-->

<br/><br/>
Number of Patterns currently in the system: <span th:text="${patterns.size()}">.</span>
<div class="center">
    <ul>
        <th:block th:each="patternsInfo: ${patterns}">
            <li>
                <span th:text="${patternsInfo.patternCompanyAndNumber}"></span>
                <a th:href="@{'/edit/' + ${patternsInfo.id}}">Edit</a>
            </li>
        </th:block>
    </ul>
</div>

<!--ul>
    <li th:each="patterns: ${patterns}" th:text="${pattern.PatternCompany}">Pattern goes here</li>
</ul>

<form action="/patterns/new" method="post">
    <input type="text" name="patternInfo" />
    <input type="submit" value="Add This Pattern" / >
</form-->
</body>
</html>