<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<h2>Edit Pattern Details: </h2>
<form method="POST" th:action="@{'/edit/' + ${pattern.id}}" th:object="${pattern}">
    <table class="center">
        <tr>
            <td>Pattern Company and Pattern Number: </td>
            <td><input name="patternCompanyAndNumber" type="text" th:field="*{patternCompanyAndNumber}" /></td>
        </tr>
        <tr>
            <td>Pattern Range of Sizes: </td>
            <td><input name="sizeRange" type="text" th:field="*{sizeRange}"/></td>
        </tr>
        <tr>
            <td>Pattern Styles: </td>
            <td><input name="patternDescription" type="text" th:field="*{patternDescription}"/></td>
        </tr>
        <tr>
            <td>Keyword: </td>
            <td><input name="keyword" type="text" th:field="*{keyword}"/></td>
        </tr>
    </table>
    <input type="hidden" th:field="*{id}" />
    <p>Pattern Notes...: </p>
    <textarea name="patternNotes" th:field="*{patternNotes}"></textarea>
    <br/>
    <input type="submit" value="Save Edited Pattern" />
</form>
</body>
</html>